   body {
  font-family: 'Montserrat', sans-serif;
    text-align: center;

}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}


p {
  color: #8f8f8f;
}

/* Heading */

.big-heading {
  font-weight: bold;
  font-size: 3.7rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}


/* navigation Bar */

.navbar {
  padding: 0 0 4.5rem ;

}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;

}

.nav-item {
  padding: 0 12px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 300;
}

/* Download Buttons */

.fab {
  padding: 0.2rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}


/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}


/* Title Image */

.title-image {
  width: 65%;
  margin: 0 0 0 12%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;

}

@media (max-width: 1053px) {
  .title-image {
    position: static;
    transform: rotate(0);
    margin: auto;


  }
  #title {
    text-align: center;
  }
}
/* Features */

#features {
  background-color: white;
  position: relative;
  z-index: 1;
}



.feature-title {
  font-size: 1.5rem;
}

.feature-box {

  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
  transition: color .5s;
}

.icon:hover {
  color: #ff4c68;
}


/* Testimonials */

#testimonials {


  background-color: #ef8172;
  color: #fff;
  
}

.testimonial-text {
  padding-bottom: 59px;
  text-align: center;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-text2 {
    padding-top: 10px;
    padding-bottom: 17px;
    text-align: center;
    font-size: 3.3rem;
    line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */

#press {
  background-color: #ef8172;

  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
  padding: 100px;

}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA */

#cta {

  background-color: #ff4c68;
  color: #fff;

}


/* Footer */

.footer-socialmedia-icon {
  color: black;
  padding: 2.5% 1%;
  transition: color.5s;
}

.footer-socialmedia-icon:hover {
  color: #ff4c68;
}
